
@import './album.css';
@import './filter-song.css';
@import './song-table.css';

.main {    
    background: linear-gradient(181.17deg, 
        rgba(47, 47, 47, 0) -35.3%, 
        #171717 66.2%), url("../../img/album-main.png");
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem;
    padding: .5rem;
    background-size: cover;
    
}