.playerControls{
    display: flex;
    flex-direction: column;
    gap:.25rem; 
}

.playerControls-buttons {
     display: flex;
     gap: 1rem;
     flex-direction: row;
     justify-content: center;
}

